

/*
#5F0F40 = tyrian purple
#9A031E = heidelburg red
#FB8B24 = princeton orange
#E36414 = vivid vermilion
#0F4C5C = midnight green

*/


body {
  background: whitesmoke;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  color: rgba(150,141,143,0.7);
}


img {
  width: 150px;
  border-radius: 5px;
  border: 5px solid black;
}

h1 {
  font-size: 80px;
  padding: 25px;
  font-weight: 300;

}

a {
  color:rgba(150,141,143,0.6);
}

    a:hover {
      color:rgba(150,141,143,1);
    }

strong {
  font-weight: 700;
}

.intro {
  display: flex;
  justify-content: center;
  background: white;
  box-shadow: 1px 1px 1px lightgrey;
  margin-bottom: 20px;
}

    .intro-body, .intro-footer {
      text-align: center;
    }

.high-school {
  background: white;
  box-shadow: 1px 1px 1px lightgrey;
  margin-bottom: 20px;
  padding-bottom: 100px;
}

    .high-school--header {
      text-align: center;
      padding: 40px;
    }

    .high-school--header h2 {
      font-size: 36px;
    }

    .high-school--left {
      text-align: right;
    }

    .high-school--right {
      text-align: left
    }

    #hs-start {
      border-left: 1px solid lightgrey;
    }

    #hs-end {
      border-right: 1px solid lightgrey;
    }



.fab {
  font-size: 50px;
  padding: 15px;
  margin-left: 15px;
  margin-right: 15px;
}
