

/*
#5F0F40 = tyrian purple
#9A031E = heidelburg red
#FB8B24 = princeton orange
#E36414 = vivid vermilion
#0F4C5C = midnight green
*/


body {
  margin: 0;
  background: black;
}


.banner {
  width: 70%;
  height: 600px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.timeline {
  background: black;
  width: 8px;
  height: 100%;
  margin-left: 50%;
}

.footer, .header {
  background: black;
  height: 60px;
  width: 100%;
  border-radius: 5px;
}

#timeline-top {
  background: black;
  width: 8px;
  height: 100%;
  margin-left: 50%;

}

#hero {
  background: #0F4C5C;
  margin-left: 10%;
  width: 80%;
}

#high-school {
  background: #9A031E;
  margin-left: 20%;
}

#university {
  background: #FB8B24;
  margin-left: 10%;
}

#further {
  background: #E36414;
  margin-left: 20%;
  margin-bottom: 50px;
}


